:root {
  --subway-green: #489E3B;
  --subway-yellow: #FFD500;
  --subway-gray: #605E5F;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, var(--subway-green) 0%, var(--subway-yellow) 100%);
    height: 100vh;
    position: relative;
    /* URL to the image */
    cursor: url('Images/cursor (2).cur'), default;
    overflow: auto;
    
}
  
.header {
    margin-top: 20px;
    margin-bottom: 10px;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    border: 2px solid #000;
    padding: 20px; 
    height: 50vh;
    width: 80%;
    
    
}
.contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 2px solid #000;
    padding: 20px;
    height: auto;
    width: 80%;
    margin-block-start: 20px;
    /*overflow-y: auto;*/
    /*overflow-x: auto;*/
    margin-bottom: 10px;
    
}

.seccion {
    border: 1px solid #000;
    padding: 10px;
    box-sizing: fixed;
    box-sizing: border-box;
    width: 250px;
}

.rectangle {
    /* border: 1px solid #000; */
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 260px;
    box-sizing: fixed;
    text-align:center;
    align-items: center;
    background-image: url("Images/trayBG.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.item{
    border: 1px solid #000;
    padding:5px;
    /*box2-sizing: border-box;*/
    width: 350px;
    height: 250px;
    /*box-sizing: content-box;*/
    align-content: center;
}
.item2{
    border: 1px solid #012501;
    padding:5px;
    /*box2-sizing: border-box;*/
    width: 210px;
    height: 250px;
    /*box-sizing: content-box;*/
    align-content: right;
}

.user{
    border: 5px solid #14ca14;
    box-sizing: content-box;
    margin-block: 10px;
    width: 310px;
    height: 60px;
     
}

img{
    width: 60px;
    height: 60px;
}
#logo{
    width: 200px;
    height: 200px;
}
    

img:hover {
    cursor: url('Images/cursor.cur'), default;
}
button:hover{
    cursor: url('Images/cursor.cur'), default;
}
#orderSandwich{
    display: none; /* Oculta la imagen inicialmente */
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    width: 100px;
    height: 100px;
    
}
#Toasted, #Warmed{
    margin: 30px;
    width: 100px;
    height: 40px;
    background-color: rgb(232, 194, 120);
    font-style: oblique;
    font-size: large;   
}
.boxtext{
    border: 1px solid #000;
}
#order{
    background-color: rgb(207, 236, 16);
    font-style: oblique;
    font-size: medium; 
    width: 100px;
    height: 40px;

}
