:root {
  --subway-green: #489E3B;
  --subway-yellow: #FFD500;
  --subway-gray: #605E5F;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    cursor: url('sandwich-22.png'), auto;
    font-family: 'Arial', sans-serif;
    /* background-color: var(--subway-yellow);
    color: white; */

    background: linear-gradient(to bottom, var(--subway-green) 0%, var(--subway-yellow) 100%);
    height: 100vh;
    overflow: hidden;
    position: relative;

    /* URL to the image */
    cursor: url('Images\cursor-_2_.png'), auto;
}
  
.header {
    margin-top: 20px;
    margin-bottom: 10px;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    border: 2px solid #000;
    padding: 20px; 
    height: 600px;
    width: 80%;
    overflow-y: auto;
    overflow-x: auto;
}
.contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 2px solid #000;
    padding: 20px;
    height: 400px;
    width: 1000px;
    margin-block-start: 20px;
    /*overflow-y: auto;*/
    /*overflow-x: auto;*/
    margin-bottom: 10px;
    ;
}

.seccion {
    border: 1px solid #000;
    padding: 10px;
    box-sizing: fixed;
    box-sizing: border-box;
    width: 250px;
}

.rectangle {
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    width: 250px;
    height: 260px;
    box-sizing: fixed;
}

.item{
    border: 1px solid #000;
    padding:5px;
    /*box2-sizing: border-box;*/
    width: 400px;
    height: 250px;
    /*box-sizing: content-box;*/
    align-content: center;
}
.user{
    border: 1px solid #000;
    box-sizing: content-box;
    margin-block: 10px;
    width: 310px;
    height: 60px;
     
}

img{
    width: 60px;
    height: 60px;
}
    
.row{
    background-image: url('Images\trayBG.png');
    background-size: cover; /* Optional: Cover the entire area of the class */
    background-repeat: no-repeat; /* Optional: Prevent the image from repeating */
    background-position: center; /* Optional: Center the image within the class */
}
img:hover {
    cursor: url("Images\cursor.png"), auto;
}

